{{#script}}
window.TODOS = {{ 'GetTodos' |> execService |> get('Results') |> json }};
{{/script}}

{{#raw}}
<div id="sidebar" class="effect6">
    <div class="inner" style="padding: 1em">
        <h4>gRPC Smart Clients</h4>
        <ul>
            <li><a href="#csharp-generic">C#</a></li>
            <li><a href="#vb-generic">VB.NET</a></li>
            <li><a href="#fsharp-generic">F#</a></li>
        </ul>
        <h4>gRPC protoc Clients</h4>
        <ul>
            <li><a href="#csharp">C#</a></li>
            <li><a href="#swift">Swift</a></li>
            <li><a href="#java">Java</a></li>
            <li><a href="#dart">Dart</a></li>
            <li><a href="#go">Go</a></li>
            <li><a href="#node">Node</a></li>
            <li><a href="#python">Python</a></li>
            <li><a href="#ruby">Ruby</a></li>
            <li><a href="#php">PHP</a></li>
        </ul>
        <h4>gRPC Web</h4>
        <ul>
            <li><a href="#grpc-web">TypeScript</a></li>
            <li><a href="#grpc-web">Closure</a></li>
            <li><a href="#grpc-web">Common JS</a></li>
        </ul>
    </div>
</div>

<div class="container app">
<div id="app">
<section class="todoapp">
    <header class="header">
        <h1>Todo World</h1>
        <input class="new-todo"
               autofocus autocomplete="off"
               placeholder="What needs to be done?"
               v-model="newTodo"
               @keyup.enter="addTodo">
    </header>
    <section class="main" v-show="todos.length" v-cloak>
        <input id="toggle-all" class="toggle-all" type="checkbox" v-model="allDone">
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li v-for="todo in filteredTodos"
                class="todo"
                :key="todo.id"
                :class="{ completed: todo.completed, editing: todo == editedTodo }">
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed" @change="update(todo)">
                    <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                    <button class="destroy" @click="removeTodo(todo)"></button>
                </div>
                <input class="edit" type="text"
                       v-model="todo.title"
                       v-todo-focus="todo == editedTodo"
                       @blur="doneEdit(todo)"
                       @keyup.enter="doneEdit(todo)"
                       @keyup.esc="cancelEdit(todo)">
            </li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
    <span class="todo-count">
      <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
    </span>
        <ul class="filters">
            <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
            <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
            <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
        </ul>
        <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
            Clear completed
        </button>
    </footer>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>
        Written by <a href="http://evanyou.me">Evan You</a>
        as part of <a href="http://todomvc.com">TodoMVC</a>
    </p>
</footer>
</div>
</div>

<div class="container">
    <a name="csharp-generic"></a>
    <a name="vb-generic"></a>
    <a name="fsharp-generic"></a>
    <div class="row grpc">
        <h2>gRPC</h2>
    </div>
</div>

<div class="container">
    <div class="row p bg-net">
        Smart Generic .NET gRPC Service Client using clean programming model and rich POCO DTOs
    </div>
</div>
{{/raw}}

<div class="container">
    <div class="row generic nav-tabs">
        <div class="tabs">
            <div class="tab csharp-generic active" data-click="tab:csharp-generic"><span>C#</span></div>
            <div class="tab vb-generic" data-click="tab:vb-generic"><span><b>VB</b>.net</span></div>
            <div class="tab fsharp-generic" data-click="tab:fsharp-generic"><span>F#</span></div>
        </div>

        <div class="tab-content">
            <div class="youtube"></div>
            <div class="tab-pane csharp-generic active" data-youtube-id="K0QAUQPJNtM">
                <div class="code">
                    {{ 'gfm/csharp-generic.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane vb-generic" data-youtube-id="9XTy3eOdpHw">
                <div class="code">
                    {{ 'gfm/vb-generic.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane fsharp-generic" data-youtube-id="y3MBaapcN-0">
                <div class="code">
                    {{ 'gfm/fsharp-generic.md' |> githubMarkdown }}
                </div>
            </div>

            <p class="grpc-docs">
                Visit <a href="https://docs.servicestack.net/grpc">ServiceStack gRPC docs</a> for more info.
            </p>
        </div>
        
    </div>
</div>

<div class="container">
    <a name="csharp"></a>
    <a name="swift"></a>
    <a name="java"></a>
    <a name="dart"></a>
    <a name="go"></a>
    <a name="node"></a>
    <a name="python"></a>
    <a name="ruby"></a>
    <a name="php"></a>

    <div class="row p bg-protoc">
        Google protoc gRPC generated Service Clients
    </div>
</div>

<div class="container">
    <div class="row protoc nav-tabs">
        <div class="tabs">
            <div class="tab csharp active" data-click="tab:csharp"><span>C#</span></div>
            <div class="tab swift" data-click="tab:swift"><span>Swift</span></div>
            <div class="tab java" data-click="tab:java"><span>Java</span></div>
            <div class="tab dart" data-click="tab:dart"><span>Dart</span></div>
            <div class="tab go" data-click="tab:go"><span>Go</span></div>
            <div class="tab node" data-click="tab:node"><span>Node.js</span></div>
            <div class="tab python" data-click="tab:python"><span>Python</span></div>
            <div class="tab ruby" data-click="tab:ruby"><span>Ruby</span></div>
            <div class="tab php" data-click="tab:php"><span>PHP</span></div>
            <div class="tab"></div>
            <div class="tab"></div>
            <div class="tab"></div>
<!--            
            <div class="tab cpp" data-click="tab:cpp"><span>C++</span></div>
            <div class="tab java-lite" data-click="tab:java-lite"><span>Java (Lite)</span></div>
            <div class="tab objc" data-click="tab:objc"><span>Objective-C</span></div>
-->
        </div>

        <div class="tab-content">
            <div class="youtube"></div>
            <div class="tab-pane csharp active" data-youtube-id="0TXk9y24NIw">
                <div class="code">
                    {{ 'gfm/csharp.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane swift" data-youtube-id="FLHbN_Z9z98">
                <div class="code">
                    {{ 'gfm/swift.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane java" data-youtube-id="pe7oKApToDA">
                <div class="code">
                    {{ 'gfm/java.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane dart" data-youtube-id="fDARSMNlt50">
                <div class="code">
                    {{ 'gfm/dart.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane go" data-youtube-id="FYA32J1-IA0">
                <div class="code">
                    {{ 'gfm/go.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane node" data-youtube-id="QL56lOHiXVM">
                <div class="code">
                    {{ 'gfm/node.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane python" data-youtube-id="rcDdabAELnA">
                <div class="code">
                    {{ 'gfm/python.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane ruby" data-youtube-id="yvLnqgXKYTI">
                <div class="code">
                    {{ 'gfm/ruby.md' |> githubMarkdown }}
                </div>
            </div>
            <div class="tab-pane php" data-youtube-id="lRy3qb-x2Yc">
                <div class="code">
                    {{ 'gfm/php.md' |> githubMarkdown }}
                </div>
            </div>

            <p class="grpc-docs">
                Visit <a href="https://docs.servicestack.net/grpc">ServiceStack gRPC docs</a> for more info.
            </p>
        </div>
    </div>
</div>


<div class="container">
    <a name="grpc-web"></a>
    <div class="row grpc">
        <h2>gRPC Web</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        {{ 'gfm/grpc-web.md' |> githubMarkdown }}
    </div>
</div>

{{#raw appendTo scripts}}

<script>
    function log(a) {
        console.log(a);
        return a;
    }
    function parent(el,cls) {
        while (el != null && !el.classList.contains(cls))
            el = el.parentElement;
        return el;
    }
    function youtubeVideo(id) {
        return '<iframe class="video" src="https://www.youtube.com/embed/' + id + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
    }
    
    bindHandlers({
        tab: function(tab) {
            var tabs = parent(this,'nav-tabs');
            tabs.querySelectorAll('.tab,.tab-pane').forEach(function(el) {
                if (el.classList.contains(tab)) {
                    el.classList.add('active');
                    var id = el.getAttribute('data-youtube-id');
                    if (id) {
                        tabs.querySelector('.youtube').innerHTML = youtubeVideo(id);
                    }
                }
                else {
                    el.classList.remove('active');
                }
            });
            
            document.querySelector('.tab-pane.' + tab);
            window.location.hash = tab;
        }
    });

    document.querySelector('.generic .youtube').innerHTML = youtubeVideo('K0QAUQPJNtM');
    document.querySelector('.protoc .youtube').innerHTML = youtubeVideo('0TXk9y24NIw');
    
    var activeTab = location.hash
        ? document.querySelector('.tabs .' + location.hash.substring(1))
        : null;
    if (activeTab) {
        activeTab.click();
    }
</script>

{{/raw}}